.contactBody{
    .mobileDrawerToggle{
        .navToggle{
            background-color: #c7c7c7;
        }
    }
    .bg-white{
        border-radius: 15px;
        @media screen and (min-width: 767px){
            border-radius: 25px;
        }
    }
    background-color: #424242!important;
    #contactForm{
        padding-top: 150px;

        h1{
            text-transform: uppercase;
            font-size: 3rem!important;
            @media screen and (max-width: 767px){
                font-size: 2.5rem!important;
            }
        }

        .formContainer{
            max-width: 540px;
            margin: auto;
        }

        label{
            display: block;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;
        }

        input, textarea{
            border: 2px solid #000!important;
            padding: 6px 9px;
            font-size: 14px;
            width: 100%;
            margin-bottom: 25px;
            background-color: #f7f7f7;
        }

        input[type='submit']{
            &:hover{
                background-color: #f7f7f7!important;
            }
        }

        textarea{
            height: 300px;
        }

        margin-bottom: 100px;
        }
} 