body{
    background-color: #000!important;
    font-family: 'Montserrat', sans-serif!important;
    &.showBackupImg{
        background-image: url('../../images/backup_image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
} 

h1,h2,h3,h4,h5,h6{
    font-size: 4rem!important;

    @media screen and (max-width: 767px){
        font-size: 2rem!important;
    }
}

.btn{
    background-color: transparent!important;
    border: 3px solid #fff!important;
    text-transform: uppercase!important;
    border-radius: 0px!important;
    font-weight: 700!important;
    letter-spacing: 1.15px;
    font-size: 1.1rem!important;
    @media screen and (max-width: 767px){
        font-size: .75rem!important;
    }
    padding: 10px 20px!important;

    &:hover{
        background-color: #fff!important;
        color: #000!important;
    }
}

.mobileDrawerToggle{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;

    .navToggle{
        background-color: #424242;
        color: #ffffff;
        border-radius: 15px;
        border: 1px solid transparent;
        width: 50px;
        height: 50px;

        &:hover{
            cursor: pointer;
        }

        .fa-times{
            display: none;
        }

        &.open{
            .fa-times{
                display: block;
            }

            .fa-bars{
                display: none; 
            }
        }
    }
}

.mobileDrawer{
    transition: all .3s ease-in-out;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    width: 100%;
    max-width: 600px;
    height: 100%;
    position: fixed;
    z-index: 999;
    margin-left: -100%;
    overflow-x: hidden;

    .navLinkItems{
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 80px;
        li{
            display: inline;
            a{
                padding: 25px;
                padding-left: 15px;
                display: block;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
            }
        }
        
    }

    &.open{
        margin-left: 0px;
    }
}

#header{
    position: fixed;
    width: 100%;
    z-index: 9999998;
    padding-top: 0;
    padding-bottom: 0;
    transition: all .3s ease-in-out;
    .container-fluid{
        padding: 0px 50px;
        .navLinkItems{
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;
            li{
                display: inline;
                a{
                    padding: 36px 25px;
                    display: inline-block;
                    color: #ffffff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            
        }
    }

    .darkLogo{
        display: none;
    }
}

.about-body, .projects-body{
    #header{
        &:hover{
            cursor: pointer;
        }

        &:hover, &.show, &.sticky{
            .darkLogo{
                display: inline-block!important;
            }
            .lightLogo{
                display: none;
            }
            backdrop-filter: blur(8px);
            background-color: rgba(255,255,255,0.8);
            &:hover, &.show{background-color: #ffffff;}
            a, i{
                color: #000000!important;
            }
        }
    }
}